@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color: #E1E5F2;
    color: #0F121A;
    display: grid;
    justify-content:center;
    
    
}
a{
    text-decoration: none;
    color: #6E44FF;
}
.headertopo{
    background-color: #FFF;
    margin-bottom: 20px;
    padding: 25px;
    
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.headertopo h1{
    font-size: 50px;
    color: #0F121A;
}
.headertopo .link{
    font-size:  15px;
    font-weight: 700;
}
.rodape{
    background-color: #FFF;
    border-radius: 7px 7px 0 0;
    display: flex;
    padding: 20px;
    align-items: center;
    font-weight: 700;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    
}
.rodape p{
    padding-top: 10px;
    padding-left: 10px;
}
.rodape a{
    padding-left: 50px;
}
li{
    text-decoration: none;
}